@font-face { font-family: Questrial; src: url('Questrial-Regular.ttf'); }

body {
    font-family: Questrial;
}

h1 {
    text-transform: uppercase;
}

#submit {
    background-color: black;
    border-color: black;
    border-radius: 0;
    text-transform: uppercase;
}

#skills-interest-comment{
    display: none;
}

#youth-exp-comment{
    display: none;
}

#non-youth-exp-comment{
    display:none;
}

#other-text-roles{
    display:none;
}

#logo {
  margin: 0 auto;
}

#other-hear-about-us{
    display:none;
}

.jumbotron {
    /* Ask if she has picture for background */
    font: 14px Helvetica,Arial,sans-serif;
    color: white;
    background-color: #3a9fb6;
}
