#skills-interest-comment{
    display: none;
}

#youth-exp-comment{
    display: none;
}

#non-youth-exp-comment{
    display:none;
}

#other-text-roles{
    display:none;
}

#logo {
  margin: 0 auto;
}

#other-hear-about-us{
    display:none;
}

